# ==========================================
# CONFIGURAÇÕES DO SMART DASHBOARD
# ==========================================

#Motor de Clima (Coordenadas)
LATITUDE_CASA=
LONGITUDE_CASA=
FUSO_HORARIO=America/Sao_Paulo

#Motor de Música (Spotify Web API)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback

#Motor de Metas (GitHub Gist)
URL_RAW_METAS=
